.channelButton,
#sendMessage,
#createChannelButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    -ms-word-break: break-all;
    word-break: break-all;
    cursor: pointer;
}

.channelButton {
    margin-bottom: 3px;
}

.joinChannelButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    padding: 5px 7px;
    font-size: 1.2vw;
    cursor: pointer;
}

.channelButton:hover,
#sendMessage:hover,
#createChannelButton:hover,
.joinChannelButton:hover {
    background-color: #438543;
}

.unreadChannelButton {
	background-color: red;
}

body, html {
    margin: 0 !important;
    height: 100% !important;
    overflow-y: hidden !important;
    background-color: #444444 !important;
}

#channelMessagesDiv {
    min-height: 77vh !important;
    max-height: 77vh !important;
    overflow-y: auto !important;
}

#sidebar {
    min-height: 85vh !important;
    max-height: 85vh !important;
    overflow-y: auto !important;
}

#navbar ul {
	margin: 0;
	padding: 5px;
	list-style-type: none;
	text-align: right;
	background-color: #000;
}

#navbar ul li {
	display: inline;
}

#navbar ul li a {
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
	background-color: #000;
}

#navbar ul li a:hover {
	color: #000;
	background-color: #fff;
}

.message {
    background-color: #fff;
    color: #000;
    padding: 5px 6px 2px 6px;
    margin-bottom: 3px;
}

.messageDate {
    font-size: 0.7em;
    text-align: right;
    padding-right: 4px;
    margin-bottom: 4px;
}

.messageAuthor {
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 6px;
}

.messageText {
    padding: 0 10px;
    margin-bottom: 6px;
    -ms-word-break: break-all;
    word-break: break-all;
}

#messageInputDiv {
    position: absolute;
    bottom: 0vh;
    max-width: 92% !important;
    margin-left: 4% !important;
}

#main_window {
    padding: 0 !important;
}

#sidebar {
    padding: 0 !important;
}

.container {
    padding: 0 !important;
}

#messageInput br {
     display: none !important;
 }