.channelList{
	display: inline;
}
.channelButton {
    max-width: 180px;
    min-width: 180px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.unreadChannelButton {
	background-color: red;
}

.red{
    background-color: lightpink;
    min-width: 300%;
}
.blue{
    background-color: lightblue;
    min-width: 300%;
}
body {background-color: black;}

#main_window{
color: grey;
}

#navbar ul {
	margin: 0;
	padding: 5px;
	list-style-type: none;
	text-align: right;
	background-color: #000;
	}

#navbar ul li {
	display: inline;
	}

#navbar ul li a {
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
	background-color: #000;
	}

#navbar ul li a:hover {
	color: #000;
	background-color: #fff;
	}