.errorMessage {
    color: red;
    font-weight: bold;
}

body, html {
    margin: 0 !important;
    height: 100% !important;
    background-color: #444444 !important;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    -ms-word-break: break-all;
    word-break: break-all;
    cursor: pointer;
}

button:hover {
    background-color: #438543;
}

#registrationError {
    margin-top: 20vh;
}
