<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/style/index.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script
            src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="/script/channel.js"></script>
    <script src="/script/channelList.js"></script>
    <script src="/script/index.js"></script>
</head>
<body>
<div class="container">
    <div id="navbar">
        <ul>
            <li onclick="channelListController.loadAllChannels()"><a href="#">List Channels</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div class="container-fluid" id="container-fluid">
        <div class="row">
            <div id ="sidebar" class="col-3"></div>
            <div id="main_window" class="col-9"></div>
        </div>
    </div>

</div>

</body>
</html>